<h2>Register</h2>

<form method="post" action="">
    {%csrf_token%}
    
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{form.username}}
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {{form.email}}
      </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      {{form.password1}}
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Password</label>
        {{form.password2}}
    </div>
   {{form.errors}}
    <input type="submit" value="Submit" name="Create User">
  </form>